/*
 * Front Page of RULA Website
 * Last Modified: Mar 25, 2014 by PC
 * Last Modified: Dec 4, 2014 by SW
*/

@import "summon_css.css";

#mobile {
	display: none;
}

@media screen and (max-device-width: 480px) {
  #mobile {
     display: block;
  }
  #mobile_redirect {
     margin-top: 1em;
     margin-bottom: 1em;
  }
}

.addclass h2 {
	font-size: 1.2em;
}


/* Content (except search tabs and new titles, see bottom of page) */
.fbs-flyout-pane{ /* for summon search box? */
	z-index: 10;
}

#main_body{
	padding-left:0;
  	padding-right: 331px;  /* RC width */
	overflow: hidden;
	clear: both;
	text-align: center;
}

#main_body .column {
  position: relative;
  float: left;
 
}

#innerwrapper{
	margin-top:15px;
	zoom: 1;
}

#middle_sect {
	width: 100%;
	text-align: left;
	padding: 5px 20px;
}

.lt-ie8 #middle_sect {
	padding-top: 20px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

#middle_sect h2 {
	padding-bottom: 4px;
	border-bottom: 2px solid #EDEDED;
}

#quickpicks{
	margin: 0;
	padding: 0;
	border: 0;
    list-style: none;
}	
#quickpicks li {
    text-align:center;
    width:84px;
    float:left;
    padding:5px;
    margin:0 5px;
    display: block;
    line-height: 100%;
}
#quickpicks li a, #quickpicks li a:link, #quickpicks li a:visited{
      display:block;
      width:74px;
      padding:5px;
      
      color:#444444;
      text-decoration:none;
      
      opacity:0.8;
      
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-transition:all 0.2s ease-in;  
      -moz-transition:all 0.2s ease-in;  
      -o-transition:all 0.2s ease-in;  
      transition:all 0.2s ease-in;  
}
#quickpicks li a:active, #quickpicks li a:hover{
      background-color:#eeeeee;
      color:#000000;
      text-decoration:none;
      opacity:1;
}
#quickpicks li img{
        border:0;
        outline:0;
        padding:0;
        margin:0 auto 5px auto;
        display:block;
}
/* Old QuickPicks */
/* Hours */
#quickpicks .wp-image-69 {
  padding-top:10px;
}
/* Study Rooms */
#quickpicks .wp-image-74 {
  padding-top:0px;
}
/* Laptop */
#quickpicks .wp-image-70 {
  padding-top:3px;
}
/* Renew/Lib Account */
#quickpicks .wp-image-65 {
  padding-top:7px;
}
/* Research Workshops */
#quickpicks .wp-image-72 {
  padding-top:0px;
}
/* Faculty */
#quickpicks .wp-image-68 {
  padding-top:3px;
}
/* Copyright */
#quickpicks .wp-image-66 {
  padding-top:10px;
}
/* LC */
#quickpicks .wp-image-71 {
  padding-top:13px;
}
/* Book Librarian */
#quickpicks .wp-image-10021 {
  padding-top: 5px;
}
/* Blackboard */
#quickpicks .wp-image-64 {
  padding-top:10px;
}
/* RACER */
#quickpicks .wp-image-486 {
  padding-top:22px;
}
/* Refworks */
#quickpicks .wp-image-483 {
  padding-top:15px;
  padding-bottom: 5px;
}
/* Ask Us image */
#quickpicks .wp-image-63 {
  padding-top:10px;
} 


/* Renew/Lib Account */
#quickpicks .wp-image-renew {
  padding-top:7px;
}
/* Research Workshops */
#quickpicks .wp-image-workshops {
  padding-top:0px;
}

/* Book Librarian */
#quickpicks .wp-image-apt {
  padding-top: 5px;
}
/* ASC */
#quickpicks .wp-image-asc {
  padding-top:10px;
}
/* gmdc */
#quickpicks .wp-image-gmdc {
  padding-top:10px;
}
/* IR */
#quickpicks .wp-image-ir {
  padding-top:10px;
}

/* Course Readings */
#quickpicks .wp-image-readings {
  padding-top:10px;
}

/* DME icon */
#quickpicks .wp-image-dme {
	padding-top: 1em;
	padding-bottom: 0.7em;
}
/* Ask Us image */
#quickpicks .wp-image-ask {
	padding-bottom: 1em;
}
/* Ask Us Widget */
/*#quickpickask {
	display: inline-block;
	list-style: none;
	height: 90px;
	width: 85px;
	color: #444;
	margin: 3px 5px 0;
	padding: 5px;
    opacity:0.8;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -webkit-transition:all 0.2s ease-in;  
      -moz-transition:all 0.2s ease-in;  
      -o-transition:all 0.2s ease-in;  
      transition:all 0.2s ease-in;  
}
#quickpickask:active,
#quickpickask:hover{
      background-color:#eeeeee;
      color:#000000;
      text-decoration:none;
      opacity:1;
}
#lpButDivID-1313887460492 {
	padding: 3px 0 0;
	margin: 0;
	height: 73px;
	overflow: hidden;
}
.lpStaticButton,
#lpButDivID-1313887460492 td{
	padding: 0;
	margin: 0;
	border: none;
}
img[id^=lpChatBtnImg] {
	margin: 0;
	width: 74px;
}
a[id^=lpChatBtn] {
	height: auto;
	overflow: hidden;
}
.lt-ie9 img[id^=lpChatBtnImg] {
	width: auto;
	max-width: 74px;
}
.lt-ie9 .lpStaticButtonTR td {
	text-align:left;
}*/

/* Carousel Override */
.nivoSlider {
  margin-bottom: 0 !important;
}

#text-4 {
	margin: 0 0 1.2em;
}

/** Availability Widget **/
/*div#availabilityWidgetWrap {

}
.availabilityWidgetHeading {
	margin-top: 0px;
	margin-bottom: 5px;
	font-size: 0.85em;
}
/* Kill yellow drop shadow 
.overrideBoxShadow {
	/* -webkit-box-shadow: 0px 3px 4px 0px #e8e8e8 !important;
	-mox-box-shadow: 0px 3px 4px 0px #e8e8e8 !important;
	box-shadow: 0px 3px 4px 0px #e8e8e8 !important; 
    -webkit-box-shadow: none;
    -mox-box-shadow: none;
    box-shadow: none;
}

#availabilityList {
	list-style: none;
	margin: 5px 0px 5px;
}

#availabilityList li {
	display: inline;
	display: inline-block;
	cursor: pointer;
	/* margin-left: 5%;
	margin-right: 5%; 
	width: 33%;
	font-weight: bold;
}

#availabilityList li a {
	text-decoration: none;
	font-size: 0.9em;
}

.availabilityWidgetButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
    background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
    background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
    background-color:#ffffff;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}
.availabilityWidgetButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
    background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
    background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
    background-color:#f6f6f6;
}
.availabilityWidgetButton:active {
    position:relative;
    top:1px;
}*/

/** Availability Widget **/

div#availabilityWidgetList {
	/* border: 2px solid #DCDCDC;
	border-radius: 10px;
	background-color: #ececec; */
}
div#availabilityWidgetWrap {

}
.availabilityWidgetHeading {
	margin-top: 1em;
	margin-bottom: 5px;
	padding-top: 1em;
	text-transform: uppercase;
	text-align: center;
}
/* Kill yellow drop shadow */
.overrideBoxShadow {
	/* -webkit-box-shadow: 0px 3px 4px 0px #e8e8e8 !important;
	-mox-box-shadow: 0px 3px 4px 0px #e8e8e8 !important;
	box-shadow: 0px 3px 4px 0px #e8e8e8 !important; */
    -webkit-box-shadow: none;
    -mox-box-shadow: none;
    box-shadow: none;
}

#availabilityList {
	/*list-style: none;
	margin: 5px 0px 5px;*/
	list-style: outside none none;
    margin: 5px 0px;
    padding-left: 0px;

}

#availabilityList li {
	/*display: inline;
	display: inline-block;
	cursor: pointer;*/
	/* margin-left: 5%;
	margin-right: 5%; */
	/*padding-right: 1em;
	font-weight: bold;*/
	    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    background-color: #F37626;
    background-image: url('https://library.torontomu.ca/wp-content/uploads/book_arrow_white.png');
    padding-right: 3em;
    background-repeat: no-repeat;
    background-position: 95% center;
    margin-left: 2em;
	padding-top: 3px;
	padding-bottom: 3px;

}
#availabilityList li:hover {
	background-image: url('https://library.torontomu.ca/wp-content/uploads/bookingarrow1.png');
}

#availabilityList li a {
	text-decoration: none;
	font-size: 0.9em;
	color: #ffffff;
}

.availabilityWidgetButton {
   
    
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
   
   /* -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:20px;
    border:2px solid #dcdcdc;*/
    display:inline-block;
    cursor:pointer;
    color:#666666;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:10px 40px;
    text-decoration:none;
   
}
ul#availabilityList .availabilityWidgetButton:hover {
   
    color: #404041; /*#eeb306;*/
   

}
ul#availabilityList .availabilityWidgetButton {
   /*   -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:20px; 
    display:inline-block;
    cursor:pointer;
     font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:10px 40px;
    text-decoration:none;
    color: #1c5971;
	background-color: #FFFFFF;*/
    display: inline-block;
    cursor: pointer;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    /*background-color: #F37626;*/ 
    color: #FFF;
    padding: 10px 20px;
    width: 100%

}

.availabilityWidgetButton:active {
    position:relative;
    top:1px;
}




/*Hours sidebar widget 
div#hoursSidebarWrap {
	display: block;
	clear: both;
	margin-bottom: -1em;
}
a.hoursSidebarWidget {
    display: inline-block;
    width: 100%;
}
div.hoursSidebarCommon {
	
}
div#hoursSidebarLeft {
	float: left;
}
div#hoursSidebarRight {
	float: left;
	text-align: center;
	margin-left: 2em;
}
#hoursSidebarRight a {
	display: block;
}
span#hoursWidgetBuildingStatus {
	display: block;
	clear: both;
	font-weight: bold;
	font-size: 1.7em;
	border-radius: 5px;
}
span#hoursWidgetHoursStatus {
    line-height: 1.35em;
}
span.hoursWidgetOpen {
    text-shadow:0px 1px 0px #ffffff;
    color: rgb(59, 221, 59);
}
span.hoursWidgetClosed {
	color: rgb(216, 83, 83);
}

*/
/** New Hours Sidebar widget **/


div#hoursSidebarWrap {
	display: block;
	clear: both;
	margin-bottom: -1em;
	background-color: #363636;
}
a.hoursSidebarWidget {
    display: inline-block;
    width: 100%;
}
div.hoursSidebarCommon {
	
}
div#hoursSidebarLeft {
	float: left;
}
div#hoursSidebarLeft img {
	border: none;
	background-color: #363636;
}
div#hoursSidebarRight {
	float: left;
	text-align: center;
	margin-left: 2em;
	color: #ffffff
}
#hoursSidebarRight a {
	display: block;
}
span#hoursWidgetBuildingStatus {
	display: block;
	clear: both;
	font-weight: bold;
	font-size: 1.9em;
	border-radius: 5px;
	color: #eeb30d;
	padding-top: 0.3em;
}
span#hoursWidgetHoursStatus {
    line-height: 1.35em;
}
span.hoursWidgetOpen {
    
    color: rgb(59, 221, 59);
}
span.hoursWidgetClosed {
	color: rgb(216, 83, 83);
}
/* My ryerson button */
div#ryerson-content {
    background-color: #4d4d4d;
}

#myryersonbox {
     background-color: #999;
     display: block;
	 margin-left: 750px;
     padding-left: 3em;
	 padding-right: 3em;
     padding-top: 0.5em;
     padding-bottom: 0.5em;

}
a.myryerson {
    background-color: #eee;
    border: 1px solid #fff;
    display: block;
    padding: 0.3em 2em;
    display: table;
    border: 1px solid #fff !important;
    background-color: #666;
    height: 20px;
    font-weight: bold;
    font-size: 12px;
    color: #FFF;
    text-decoration: none !important;
    cursor: pointer;
}
a.myryerson:hover {
	color: #f37626;
}
